body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 375px;
  width: inherit;
  overflow: auto;
  background-color: darkcyan !important;
}
  
header {
  flex: 0 62px;
  /* position: relative; */
}

@media screen and (max-width: 378px) {
  /* header {
    flex: 0 102px;
  } */
  main {
    display: flex;
    flex: 1 calc(100vh - 142px) !important;
  }
}



main {
  display: flex;
  flex-direction: column;
  flex: 1 calc(100vh - 102px);
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  min-width: inherit;
}


.input-group {
  margin: .5rem;
  align-items: center;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn {
  margin: .5rem;
}

footer {
  display: block;
  flex: 0 40px;
  background-color: darkcyan;
  color: white;
  /* padding: .5em; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}


.navbar {
  /* padding: 0% !important; */
  justify-content: flex-start !important;
  background-color: darkcyan;
}

.navbar-brand {
  font-size: 150% !important;
  padding-left: .5em;
}

menu {
  flex-direction: row !important;
  flex-wrap: nowrap;
  margin-top: 0;
}

menu li {
  display: flex;
  padding-left: 0.5em;
}

footer div span {
  padding-left: 0 .5em;
}

footer a {
  float: right;
  color: white;
  padding-right: 0 .5em;
}