body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
header {
  flex: 0 60px;
  display: flex;
  background-color: darkcyan;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 calc(100vh - 100px);
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  width: 100%;
}

footer {
  flex: 0 30px;
  background-color: darkcyan;
  color: white;
  padding: .5em;
}

.navbar {
  /* padding: 0% !important; */
  justify-content: flex-start !important;
  background-color: darkcyan;
}

.navbar-brand {
  font-size: 150% !important;
  padding-left: .5em;
}

menu {
  flex-direction: row !important;
  flex-wrap: nowrap;
  margin-top: 0;
}

menu li {
  display: flex;
  padding-left: 0.5em;
}

footer span {
  padding-left: 0 .5em;
}

footer a {
  float: right;
  color: white;
  padding-right: 0 .5em;
}