
main {
    width: 100%;
    display: flex;
}

/* TODO: adjust header-container to be  */

#header-container {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    white-space: nowrap;
    
}


#header-container div {
    display: inline-flex;
    align-items: baseline;
    align-self: baseline;
    justify-content: flex-start;
    width: 100%;
}


#games-header {
    justify-content: left;
    font-size: 250%;
    font-weight: 600;
    text-align: left;
    padding-right: 1%;
    float: left;
}

#username-container {
    float: right;
    justify-self: bottom;
    text-align: right;
    margin-top: .5%;
}

@media (max-width: 475px) {
    #header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #header-container div {
        justify-content: center;
    }
}

table {
    display: table;
    width: 90%;
    border-collapse: collapse !important;
    height: 90%;
    padding: 5%;
    margin: 0%;

}

#games-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: max-content;
    width: 100%;
    gap: 1em;
    justify-items: center;
    align-items: center;
}

div.game {
    justify-self: center;
    align-self: stretch;
    justify-content: center;
    align-items: center;
}

table {
    justify-self: center;
    margin: auto;
}

table thead {
    text-align: center;
    font-size: larger;
}

table td {
    text-align: center;
    border-collapse: collapse !important;
}

table td table {
    display: table;
    border-collapse: collapse !important;
    margin-bottom: 0rem !important;
}

img {
    max-width: 90%;
    max-height: 90%;
}

td.score-header {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

#separator {
    color: darkcyan;
    margin: 0 auto;
    border:2px solid darkcyan;
    width: 98%;
    margin-bottom: 1rem;
}