
main {
    width: 100%;
    display: flex;
}

#header-container {
    display: flex;
    justify-content: left;
    text-align: center;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    padding-left: 2%;
}

#games-header {
    justify-content: left;
    font-size: 250%;
    font-weight: 600;
    text-align: left;
    padding-right: 1%;
    float: left;
}

#username-container {
    float: right;
    justify-self: right;
    text-align: right;
}

/* #username-container {
} */

table {
    display: table;
    width: 90%;
    border-collapse: collapse !important;
    height: 90%;
    padding: 5%;
    margin: 0%;

}

#games-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: auto;
    width: 100%;
    gap: 1em;
    justify-items: center;
    align-items: center;
}


table thead {
    text-align: center;
}

table td {
    text-align: center;
    border-collapse: collapse !important;
}

table td table {
    display: table;
    border-collapse: collapse !important;
    margin-bottom: 0rem !important;
}

img {
    max-width: 90%;
}
